.footer {
    background-color: #212934;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-left {
    max-width: 34%;
}

.footer-title {
    font-size: 36px;
    color: #f6f5ee;
    margin-bottom: 20px;
}

.footer-description {
    color: #fff;
    margin-bottom: 30px;
    line-height: 1.5;
}


.footer-icons a {
    margin-right: 30px;
}

.footer-right {
    display: flex;
    gap: 20px;
}

.footer-card {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 18px 0 18px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.parent-footer-card{
    background-color: #fff;
    padding: 20px -20px -20px 20px;
    border-radius: 18px 0 18px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.footer-card img {
    width: 30px;
    height: 30px;
    filter: invert(0.8);
}

.footer-card span {
    color: black;
    font-size: 16px;
}

.footer_social_media {
    display: flex;
    padding: 30px;
    background-color: #1c242d;
    justify-content: space-between;
}

.footer-icons svg {
    color: #a5a5a5;
}

.footer_copy_rights {
    color: #a5a5a5;
}

.footer_content {
    display: flex;
    color: #a5a5a5;
    gap: 130px
}

.footer_content ul {
    list-style-type: none;
}

.footer_content_change h1{
    color: #fff;
    margin-bottom: 18px;
}

.footer_content_change li{
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {

    .footer-container {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 30px;
    }

    .footer_content {
        flex-direction: column;
        gap: 20px;
    }

    .footer{
        background-color: #212934;
        padding: 70px 0;
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-right{
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-left{
        max-width: none;
    }
    .footer_social_media{
        flex-direction: column;
        font-size: 12px;
    }
    .footer-icons{
        margin-top: 10px;
        margin-left: 80px;
    }
}