.infrastructure_list{
    padding: 50px;
    text-align: center;
  }
  
  .infrastructure_list h1{
    margin-bottom: 20px;
  }
  
  .infrastructure_lists{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
  .infrastructures{
      box-shadow: 2px 2px 5px #D3D3D3;
      max-width: 200px;
      border-radius: 8px;
      position: relative;
  }

  .story-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .story-overlay:hover{
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    max-height: 200px;
      min-height: 199px;
      max-width: 200px;
      min-width: 199px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  .infrastructure img{
      max-height: 200px;
      min-height: 199px;
      max-width: 200px;
      min-width: 199px;
      box-shadow: 0px 1px 5px #D3D3D3;
      border-radius: 8px;
      background: linear-gradient(#fff7f7, #7a7a7a);
  }
  
  .infrastructure img:hover{
      background: linear-gradient(#7a7a7a,#fff7f7);
  }
  
  .infrastructure_details{
      padding: 20px;
  }
  
  .infrastructure {
      /* transform-style: preserve-3d;
      transition: transform 0.9s ease;  */
      background-color: #fff;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
    }
    
    .infrastructure:hover {
      /* transform: rotateY(360deg); */
      background-color: #fff;
      border: 1px solid #E5E5E5;
      box-shadow: 0 0 30px 0 #11111126;
    }
  
  
    .infrastructures {
      opacity: 0;
      transform: translateY(-50px); /* Start position */
      transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    }
    
    .infrastructures.animate {
      opacity: 1;
      transform: translateY(0); /* End position */
    }
  
    @media screen and (max-width: 768px) {
      .infrastructure img{
        max-height: 300px;
      min-height: 299px;
      max-width: 200px; 
      min-width: 299px;
      box-shadow: 0px 1px 5px #D3D3D3;
      border-radius: 8px;
      background: linear-gradient(#fff7f7, #7a7a7a);
      } 
      
      .infrastructures{
        box-shadow: 2px 2px 5px #D3D3D3;
        max-width: 300px;
        border-radius: 8px;
      }
    }