.products_list{
  padding: 50px;
  text-align: center;
}

.products_list h1{
  margin-bottom: 20px;
}

.products_lists{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products{
    box-shadow: 2px 2px 5px #D3D3D3;
    max-width: 200px;
    border-radius: 8px;
}

.product img{
    max-height: 200px;
    min-height: 199px;
    max-width: 200px;
    min-width: 199px;
    box-shadow: 0px 1px 5px #D3D3D3;
    border-radius: 8px;
    background: linear-gradient(#fff7f7, #7a7a7a);
}

.product img:hover{
    background: linear-gradient(#7a7a7a,#fff7f7);
}

.products_details{
    padding: 20px;
}

.product {
    transform-style: preserve-3d;
    transition: transform 0.9s ease; 
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
  }
  
  .product:hover {
    transform: rotateY(360deg);
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-shadow: 0 0 30px 0 #11111126;
  }


  .products {
    opacity: 0;
    transform: translateY(-50px); /* Start position */
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }
  
  .products.animate {
    opacity: 1;
    transform: translateY(0); /* End position */
  }

  @media screen and (max-width: 768px) {
    .products{
      box-shadow: 2px 2px 5px #D3D3D3;
      max-width: 300px !important;
      border-radius: 8px;
      opacity: 0;
      transform: translateY(0); /* Start position */
      transition: transform 0.6s ease-out, opacity 0.6s ease-out;
    }

    .product img{
      max-height: 300px;
    min-height: 299px;
    max-width: 200px; 
    min-width: 299px;
    box-shadow: 0px 1px 5px #D3D3D3;
    border-radius: 8px;
    background: linear-gradient(#fff7f7, #7a7a7a);
    } 

    .product{
      margin-bottom: 12px;
    }

    .product {
      transform-style: preserve-3d;
      transition: transform 0.9s ease; 
      background-color: #fff;
      border: 1px solid #E5E5E5;
      border-radius: 5px;
    }
    
    .product:hover {
      transform: rotateY(0);
      background-color: #fff;
      border: 1px solid #E5E5E5;
      box-shadow: 0 0 30px 0 #11111126;
    }
  }